* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

//////////////// DESKTOP DESIGN //////////////////
@media (max-width: 90em) {
  .container {
    max-width: 120rem;
    height: 100vh;
    padding: 0 3.2rem;
    margin: auto;
  }

  .testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.6rem;
    margin-top: 3rem;

    &__grid {
      padding: 2.4rem;
      background-color: #fff;
      color: hsl(0, 0%, 81%);
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

      &--1 {
        background-color: hsl(263, 55%, 52%);
        z-index: -2;
        grid-column: 1 / 3;
        position: relative;
      }

      &--2 {
        background-color: hsl(217, 19%, 35%);
      }

      &--3 {
        grid-column: 1 / 2;
        color: hsl(217, 19%, 35%);
      }

      &--4 {
        grid-column: 2 / 4;
        background-color: hsl(219, 29%, 14%);
      }

      &--5 {
        grid-column: 4;
        grid-row: 1 / 3;
        color: hsl(217, 19%, 35%);
      }
    }

    &__header {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
      }
    }

    &__quote-img {
      position: absolute;
      top: 0;
      right: 8rem;
      z-index: -1;
    }

    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 10rem;
      border: 2px solid hsl(0, 0%, 81%);
    }

    &__name {
      font-size: 1.6rem;
      font-weight: 600;
    }

    &__proffesion {
      font-size: 1.3rem;
      opacity: 50%;
    }

    &__paragraph {
      font-size: 2.2rem;
      margin: 1.6rem 0;
      font-weight: 600;
      // z-index: 999;
    }

    &__description {
      font-size: 1.5rem;
      opacity: 50%;
    }
  }

  .attribution {
    margin-top: 1.8rem;
  }
}

///////// MOBILE DESIGN /////////////

@media (max-width: 50em) {
  .testimonial {
    grid-template-columns: 1fr;
    &__quote-img {
      right: 1rem;
      width: 30%;
    }
    &__grid {
      // background: red;

      &--1 {
        background-color: hsl(263, 55%, 52%);
        grid-column: 1;
      }

      &--2 {
        background-color: hsl(217, 19%, 35%);
        grid-row: 2;
      }

      &--3 {
        grid-row: 3;
        color: hsl(217, 19%, 35%);
      }

      &--4 {
        grid-column: 1;
        background-color: hsl(219, 29%, 14%);
      }

      &--5 {
        grid-column: 1;
        grid-row: 5;
        color: hsl(217, 19%, 35%);
      }
    }
  }
}
